
/* Variables */
:root {
    --font-family: "Raleway", sans-serf;
    --normal-font: 500;
    --bold-font: 700;
    --bolder-font: 900;
    --bg-color: #fcfcfc;
    --primary-color: #333333;
    --secondary-color: #444444;
    --primary-shadow: #555555;
    --secondary-shadow: #666666;
    --bottom-margin: 1rem;
    --line-height: 1.5rem;
    --transition: 0.3s;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-family);
}

/* CSS Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

a:hover {
    color: var(--secondary-color);
}

nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background-color: var(--bg-color);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

nav h1 {
    color: var(--primary-color);
}

nav a {
    color: var(--primary-color);
    transition: var(--transition);
}
nav a:hover {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
}

nav ul {
    display: flex;
    gap: 1.9rem;
}

nav ul li {
    font-weight: var(--bold-font);
}

.burger-menu {
    color: var(--primary-color);
    font-size: 2rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: none;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    max-width: 75rem;
    margin: auto;
}

.hero img {
    height: 25rem;
    width: 25rem;
}

.bio {
    height: 25rem;
    width: 25rem;
    margin: 1rem 0;
    padding: 0.75rem;
    border-radius: 6px;
}

.bio h2 {
    margin-bottom: var(--bottom-margin);
}

.bio h3 {
    margin-bottom: var(--bottom-margin);
}

.bio p {
    line-height: var(--line-height);
    padding: 0.5rem 0;
}

